@model NetGoLynx.Models.RedirectModels.RedirectMetadata
@{
    ViewData["Title"] = "Add Golink";
}

<div class="row">
    <div class="col text-center jumbotron">

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <h1 class="display-4">Failed to create link &#x1F63F;</h1>
            <p>@Model.ErrorMessage</p>
        }
        else if (!string.IsNullOrEmpty(Model.Name))
        {
            <h1 class="display-4">Link not found &#x1F640;</h1>
            <p>Perhaps you want to add @Model.Name as a new link?</p>
        }
        else
        {
            <h1 class="display-4">Add a link &#x1F638;</h1>
        }
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-8">
        <form asp-controller="Home" asp-action="AddLink" method="post">
            <div class="form-group row justify-content-center">
                <label class="col-sm-2 col-form-label-lg text-right" for="Name">go /</label>
                <div class="col-sm-5">
                    <input asp-for="Name" class="form-control form-control-lg" placeholder="shortcut" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-1 col-form-label" for="Target">to :</label>
                <div class="col-11">
                    <input asp-for="Target" class="form-control" placeholder="url" />
                    <span asp-validation-for="Target" class="text-danger"></span>
                    <small class="form-text text-muted">Keep in mind that this is not a secure service, so don't use this for sensitive or secret information.</small>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <label class="col-2 col-form-label" for="Description">Description:</label>
                <div class="col-10">
                    <input asp-for="Description" class="form-control" placeholder="Describe what this go links to." />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Create!</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
