@{
    ViewData["Title"] = "Link Not Found";
}

<div class="row">
    <div class="col text-center jumbotron">
        <h1 class="display-4">Link not found &#x1F640;</h1>
        <p>Perhaps you want to add it as a new link? If so, you'll need to log in.</p>
    </div>
</div>
