@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error &#x1F640;</h1>
<h2 class="text-danger">Looks like something went wrong with that request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    An error was probably logged somewhere. You should tell the people running this service that this happened!
</p>
