@model NetGoLynx.Models.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Model.Op == IndexModel.Operation.Add)
    {
        <h1 class="display-4">Link not found :(</h1>
        <p>Perhaps you wanted to add @Model.LinkName as a new link?</p>
    }
    else
    {
        <h1 class="display-4">Current links</h1>
    }
</div>
