
@inject IAuthenticationSchemeProvider SchemeProvider
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Login to GoLynx";
}
<div class="row">
    <div class="col"></div>

    <div class="col-6">
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn btn-danger" asp-controller="Account" asp-action="LogoutAsync">Log out</a>
        }
        else
        {
            <h3>Select a provider to log in with </h3>
            <a class="btn btn-info" asp-controller="Account" asp-action="LoginGoogleAsync">Login with Google</a>
            <a class="btn btn-info" asp-controller="Account" asp-action="LoginGitHubAsync">Login with GitHub</a>
        }
    </div>
    <div class="col"></div>
</div>