@model NetGoLynx.Models.Accounts.LoginModel
@{
    ViewData["Title"] = "Login to GoLynx";
}
<div class="row">
    <div class="col"></div>

    <div class="col-6">
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn btn-danger" asp-controller="Account" asp-action="Logout">Log out</a>
        }
        else
        {
            <h3>Select a provider to log in with </h3>
            @if (Model.IsGitHubEnabled)
            {
                <a class="btn btn-info" asp-controller="Account" asp-action="LoginGitHub">Login with GitHub</a>
            }
            @if (Model.IsGoogleEnabled)
            {
                <a class="btn btn-info" asp-controller="Account" asp-action="LoginGoogle">Login with Google</a>
            }
            @if (Model.IsOktaEnabled)
            {
                <a class="btn btn-info" asp-controller="Account" asp-action="LoginOkta">Login with Okta</a>
            }
        }
    </div>
    <div class="col"></div>
</div>